<div class="view" style="background-image: url(/assets/images/backimg.png);">
  <div class="full-bg-img mask">
    <div class="container flex-center">
      <div class="row pt-5 mt-3 w-100">
        <div class="col-md-12">
          <div class="text-center">
            <app-nav-bar></app-nav-bar>
            <br />
            <h1 class="h1 font-up font-bold"><strong>Brad Miller</strong></h1>
            <hr class="hr-light mt-4">
            <router-outlet></router-outlet>
            <h5>My preferred tech stack, but not limited to:</h5>
            <h5><strong>Front End (Angular) - Back End (Node.js/.Net) - Data (SQL Server/MongoDb)</strong></h5>
            <p>Web portfolio including links to projects and code</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
