/* You can add global styles to this file, and also import other style files */

/* body {
  background-color: #000000;
  font-family: verdana, sans-serif;
} */

/* html {
  background: url(/frontend/src/assets/images/backimg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
} */
