<div class="card">
  <div class="emp-card-img-wrapper">
    <img class="emp-card-img-top" src="assets/images/{{employer.image}}">
    <ul class="list-inline text-center member-icons animate">
      <li class="list-inline-item">
        <button class="btn btn-primary" data-toggle="tooltip" title="Buttons available next version"><i class="fas fa-info-circle"></i></button>
      </li>
      <li class="list-inline-item">
        <button class="btn btn-primary" data-toggle="tooltip" title="Buttons available next version"><i class="far fa-window-maximize"></i></button>
      </li>
    </ul>
  </div>

  <div class="card-body p-1">
      <p>Employer: {{employer.name}}</p>
      <p>Title: {{employer.title}}</p>
  </div>
</div>
